body {
    font-family: 'Dongle';
}

.btn:focus {
    border: none;
    outline: none;
}

.banner-title {
    font-size: 7.125rem;
    /* font-size: 5rem; */
}

.banner-paragraph {
    font-size: 3rem;
}

.top-25 {
    top: 25%;
}

.navbar-brand {
    background: linear-gradient(90deg, #67666A 0%, #C0C0C2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display-1 {
    margin-top: -60px;
}

.pizza-details-div {
    max-height: 343px;
    min-height: 92px;
    height: 23.82vw;
    margin: 70px 0;
}

.pizza-details-label {
    padding-left: 20%;
    padding-right: 5%;
}

.list-parent {
    padding-left: 20%;
}

.bg-grey {
    background-color: rgba(222, 222, 222, 0.25);
    ;
}

.pizza-details-img{
    margin-top: -2%; 
    min-width: 80px; 
    max-width: 200%;
}

.reverse-div .pizza-details-img {
    margin-left: -100%;
}

.reverse-div .list-parent{
    padding-left: 5%;
}

.reverse-div .pizza-details-label{
    padding-left: 5%;
    padding-right: 20%;
}

.scale-1-1{
    scale: 1.1;
}


/* small mobile  */

@media screen and (max-width: 320px) {
    .banner-title {
        font-size: 2rem;
    }

    .banner-paragraph {
        font-size: 1rem;
    }

    .btn-lg {
        font-size: 0.8rem;
        padding: 4px;
    }

    .display-1 {
        font-size: 1rem;
        margin-top: -15px;
    }

    .welcome-p {
        font-size: 0.8rem;
    }

    .menu-item-title {
        font-size: 1rem;
    }

    .display-6{
        font-size: 0.7rem;
    }

    .list-parent{
        padding-left: 10%;
    }
    .add-btn{
        font-size: 0.3rem;
        border-radius: 3px;
    }

    .col-2{
        padding-left: 0;
        padding-right: 0;
    }
}

/* medium mobile  */

@media screen and (min-width: 321px) and (max-width:376px) {
    .btn-lg {
        font-size: 0.8rem;
        padding: 8px;
    }
    
}

/* large mobile  */

@media screen and (min-width: 375px) and (max-width:426px) {
    .banner-title {
        font-size: 2rem;
    }

    .banner-paragraph {
        font-size: 1rem;
    }

    .btn-lg {
        font-size: 0.8rem;
    }

    .mb-top-35 {
        top: 35%;
    }

    .display-1 {
        font-size: 2rem;
        margin-top: -25px;
    }

    .welcome-p {
        font-size: 1rem;
    }

    .menu-item-title {
        font-size: 1rem;
    }

    .display-6{
        font-size: 1rem;
    }

    .add-btn{
        font-size: 0.5rem;
        padding: 5px 10px;
    }

    .list-parent {
        padding-left: 8%;
    }

    .pizza-details-label {
        padding-left: 15%;
        padding-right: 5%;
    }

    .pizza-details-img{
        margin-top: -3%; 
        min-width: 80px; 
        max-width: 230%;
    }

    .reverse-div .pizza-details-img {
        margin-left: -150%;
    }
}

/* tab  */

@media screen and (min-width: 426px) and (max-width:769px) {
    .banner-title {
        font-size: 4rem;
    }

    .banner-paragraph {
        font-size: 2rem;
    }

    .display-1 {
        font-size: 3rem;
        margin-top: -40px;
    }

    .display-6{
        font-size: 1.7rem;
    }

    .add-btn{
        font-size: 0.75rem;
    }

}

/* laptop  */

@media screen and (min-width: 769px) and (max-width:1025px) {
    .menu-gap {
        gap: 10vw;
    }

    .banner-paragraph {
        font-size: 2rem;
    }

    .container {
        max-width: 70vw;
    }

}

/* large laptop  */

@media screen and (min-width: 1024px) and (max-width:1441px) {
    .menu-gap {
        gap: 10vw;
    }
}


/* extra large laptop  */

@media screen and (min-width: 1440px) {
    .menu-gap {
        gap: 10vw;
    }

    .img-fluid {
        width: 100vw;
    }

    .container {
        max-width: 50vw;
    }
}